h1 {
    color: whitesmoke;
    font-family: "Arial Black", Gadget, sans-serif;
}
d {
    color: whitesmoke;
    font-family: sans-serif;
}

body {
    background-color: #424246;
}

.topnav {
    overflow: hidden;
    background-color: #343435;
}
.topnav a {
    float: left;
    text-align: center;
    padding: 20px 25px;
    font-size: 17px;
    font-family: monospace;
    text-decoration: #53535f;
    color: #f2f2f2;
}
@keyframes hover {
    from {background-color: currentColor;}
    to {background-color: #9b9aa8;}
}
.topnav a:hover {
    color: black;
    background-color: #9b9aa8;
}
.topnav a.active {
    background-color: #6b796c;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 10px;
  }
  .grid-item {
    background-color: #919094;
    border: 3px solid #272729;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }