h1 {
    color: whitesmoke;
    font-family: "Arial Black", Gadget, sans-serif;
}
d {
    color: whitesmoke;
    font-family: sans-serif;
}
a {
    color: #b0dfe2;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border-radius: 10px;
}

body {
    background-color: #424246;
}

.halve {
    width: 50%;
    text-align: justify;
}